html, body {
    margin: 0;
    padding: 0;
}
/* Nav */
.fa-bars {
    vertical-align: middle;
}

.offcanvas {
    background-color: #111111;
    opacity: 0.95;
}
/* Home */
#home {
    background-color: #e1b7bf;
    padding: 30px;
    /* padding-top: 100px; */
}

.intro {
    padding: 50px 0px;
}

.bar {
    background-color: #594378;
    width: 150px;
    height: 8px;
}

.intro h2 {
    padding: 20px 0;
    padding-bottom: 0;
    font-size: 2em;
    color: #594378;
}

.intro img {
    width: 75%;
    filter: grayscale();
    border-radius: 100%;
    z-index: 1;
    position: relative;
    display: block;
    margin: auto;
    box-shadow: 0px 3px 5px 3px #574949;
    background-color: #594378;
    margin-top: 20px;
}


.bio {
    background-color: #594378;
    padding: 30px;
    color: #fff;
    position: relative;
    bottom: 100px;
    z-index: 0;
    border-radius: 10px;
    box-shadow: 0px 3px 5px #65547e;
}

.bio div {
    padding: 20px 0px;
}

.bio a {
    text-decoration: none;
    color: white;
}

.bio-link:hover {
    border-bottom: 1px solid #e1b7bf;
    color: #e1b7bf;
}

#social-icons img {
    width: 48px;
    padding-right: 4px;
}
/* About */
/* Media queries */
/* Tab View */
@media only screen and (min-width: 600px){
    .intro img {
        width: 60%;
    }

    .bio {
        display: grid;
        margin: auto;
        grid-template-columns: 50% 50%;
        text-align: center;
        width: 80%;
        padding: 25px;
    }

    .bio div {
        padding: 10px 0px;
    }

    .social {
        grid-column: span 2;
        margin: auto;
    }
}

@media only screen and (min-width: 992px){
   #home {
       display: flex;
       justify-content: space-around;
   }
   
    .intro img {
        width: 80%;
        margin: 20px 0px 0px 0px;
    }

    .bio {
        display: grid;
        margin: 0;
        margin-top: 15%;
        grid-template-columns: 50% 50%;
        text-align: center;
        width: 50%;
        padding: 20px;
    }
 /*
    .bio div {
        padding: 10px 0px;
    }

    .social {
        grid-column: span 2;
        margin: auto;
    } */
}