html, body {
    margin: 0;
    padding: 0;
}
/* Nav */
.fa-bars {
    vertical-align: middle;
}

.offcanvas {
    background-color: #111111;
    opacity: 0.95;
}
/* Home */
#home {
    background-color: #e1b7bf;
    padding: 30px;
    /* padding-top: 100px; */
}

.intro {
    padding: 50px 0px;
}

.bar {
    background-color: #594378;
    width: 150px;
    height: 8px;
}

.intro h2 {
    padding: 20px 0;
    padding-bottom: 0;
    font-size: 2em;
    color: #594378;
}

.intro img {
    width: 75%;
    filter: grayscale();
    border-radius: 100%;
    z-index: 1;
    position: relative;
    display: block;
    margin: auto;
    /* box-shadow: 0px 3px 5px 3px #574949; */
    background-color: #594378;
    margin-top: 20px;
}


.bio {
    background-color: #594378;
    padding: 30px;
    color: #fff;
    position: relative;
    bottom: 100px;
    z-index: 0;
    border-radius: 10px;
    /* box-shadow: 0px 3px 5px #65547e; */
}

.bio div {
    padding: 20px 0px;
}

.bio div h5 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.bio a {
    text-decoration: none;
    color: white;
}

.bio-link:hover {
    border-bottom: 1px solid #e1b7bf;
    color: #e1b7bf;
}

#social-icons img {
    width: 48px;
    padding-right: 4px;
}
/* About */
#about {
    padding: 30px;
    background-color: #594378;
    padding-bottom: 50px;
}

.about-img img {
    width: 100%;
    border-radius: 10px;
}

.about-text h2 {
    font-size: 2em;
    color: #fff;
    padding-top: 15px;
    text-transform: uppercase;
}

.about-text p {
    color: #e1b7bf;
    padding-top: 10px;
    position: relative;
}

.about-text a {
    position: relative;
    text-decoration: none;
    background-color: #c262fa;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    border-radius: 8px;
    padding: 15px 30px;
    top: 15px;
}

.about-text a:hover {
    background-color: #fff;
    color: #c262fa;
}

/* Skills */
#skills {
    background-color: #c262fa;
    padding: 30px;
}

#skills h2 {
    padding: 15px 0px;
}

.row {
    padding-top: 20px;
}

.card {
    width: 75%;
    height: 100%;
    margin: auto;
}

.card-img-bottom {
    height: 200px;
}

.progress {
    height: 20px;
    text-align: center;
}

.progress-bar {
    background-color: #c262fa;
}

.progress-value {
    position: absolute;
    right: 0;
    left: 0;
}

.html-progress{
    width: 95%;
}

.css-progress{
    width: 90%;
}

.bootstrap-progress{
    width: 80%;
}

.javascript-progress{
    width: 70%;
}

.canva-progress{
    width: 50%;
}

/* Experience */
#experience {
    background-color: #e1b7bf;
    padding: 30px;
    color: #59437a;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #59437a;
    margin-top: 50px;
}

.date {
    padding-top: 25px;
}

#experience a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #c262af;
    position: relative;
    margin: auto;
    margin-top: 50px;
    display: block;
    text-align: center;
    width: 80%;
    padding: 20px 30px;
    border-radius: 8px;
}

#experience a:hover {
    background-color: #59437a;
}

/* Media queries */
/* Tab View */
@media only screen and (min-width: 600px){
    .intro img {
        width: 60%;
    }

    .bio {
        display: grid;
        margin: auto;
        grid-template-columns: 50% 50%;
        text-align: center;
        width: 80%;
        padding: 25px;
    }

    .bio div {
        padding: 10px 0px;
    }

    .social {
        grid-column: span 2;
        margin: auto;
    }

    /* About */
    .about-img img {
        width: 70%;
        border-radius: 100%;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-text a {
        max-width: fit-content;
    }

/* Experience */
#experience {
    padding: 50px;
}

.detail {
    padding-left: 50px;
}

#experience a {
    margin-top: 70px;
    width: 50%;
    padding: 20px 30px;
}
}

@media only screen and (min-width: 992px){
   #home {
       display: flex;
       justify-content: space-around;
   }
   
    .intro img {
        width: 80%;
        margin: 20px 0px 0px 0px;
    }

    .bio {
        display: grid;
        margin: 0;
        margin-top: 15%;
        grid-template-columns: 50% 50%;
        text-align: center;
        width: 50%;
        padding: 20px;
    }
 
    /* About */
    #about {
        display: flex;
        justify-content: space-around;
    }
    
     .about-img {
        width: 50%;

    }
    
    .about-text {
        width: 50%;
        align-self: center;
    }

     /* Skills */
     .card {
        width: 100%;
        margin: auto;
    }
    
    .card-img-bottom {
        height: 200px;
    }

    /* Experience */
    #experience h2 {
        text-align: center;
    }

    .detail {
        padding-left: 0px;
        padding-top: 25px;
    }

    #experience a {
        width: 25%;
    }

    .exp {
        display: grid;
        margin: auto;
        width: 70%;
        grid-template-columns: 50% 50%;
        gap: 0px -50px;
    }

    .line {
        grid-column: span 2;
    }
}

/* Large Desktop view */
@media only screen and (min-width:1400px) {
    /* About */
    .about-img {
        width: 40%;
    }

    /* .about-img img {
        border-radius: 100%;
    } */
}